[submodule "ext/sbl"]
	path = ext/sbl
	url = git://sbl.inria.fr/git/sbl.git
[submodule "ext/GSL"]
	path = ext/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "ext/inipp"]
	path = ext/inipp
	url = https://github.com/mcmtroffaes/inipp
