# for vscode
fortran-language-server
black
mypy
pyproject-flake8
flake8-copyright

# for linters
pre-commit

# for pytest
pytest
pytest-html
pytest-cov
pytest-timeout
pytest-sugar
pytest-icdiff
pytest-xdist[psutil]

# for jupyter
jupyterlab
ipykernel
ipyparallel
ipympl
RISE
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
xeus-python
jupyterlab-lsp
python-language-server[all]
lckr-jupyterlab-variableinspector
nbconvert

# for pymcac
numpy
matplotlib
scipy
h5py
pandas
xarray[accel]
dask[complete]
cython
scikit-image
lxml
tqdm
toolz
fsspec>=0.3.3
scikit-learn
psutil
cachey
cloudpickle
