numpy
setuptools_scm
xarray
dask[complete]
pandas
matplotlib
h5py
cython
numba
numexpr
bottleneck
scipy
scikit-image
scikit-learn
lxml
tqdm
jupyterlab
ipykernel
ipympl

pytest
pytest-html
pytest-timeout
pytest-cov
pytest-sugar
pytest-icdiff
pytest-xdist[psutil]

cpplint 
mypy
black
isort
flake8
pyproject-flake8
pylint
cmakelang