# for pytest
pytest
pytest-html
pytest-timeout
pytest-cov
pytest-sugar
pytest-icdiff
pytest-xdist[psutil]

# for pymcac
numpy
matplotlib
scipy
h5py
pandas
xarray[accel]
dask[complete]
cython
scikit-image
lxml
tqdm
toolz
fsspec>=0.3.3
scikit-learn
psutil
cachey
cloudpickle
