numpy
setuptools_scm
setuptools
matplotlib
scipy
h5py
pandas
dask
cython
scikit-image
lxml
tqdm
toolz
fsspec>=0.3.3
scikit-learn
psutil
cachey
cloudpickle
xarray
numba
distributed
bokeh
jupyter
notebook
jupyterlab
ipykernel
ipympl

pytest
pytest-html
pytest-timeout
pytest-cov
pytest-sugar
pytest-icdiff
pytest-xdist[psutil]

cpplint 
mypy
black
isort
flake8
pyproject-flake8
pylint
cmakelang